# Pre-requisites

## MongoDB

MongoDB stores data in JSON-like documents, which makes the database very flexible and scalable.

To be able to experiment with the code examples in this tutorial, you will need access to a MongoDB database.

For Installation follow instructions on
https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-ubuntu/

## PyMongo

Python needs a MongoDB driver to access the MongoDB database.

In this tutorial we will use the MongoDB driver "PyMongo".
To Install: pip install pymongo

# Creating a Database

To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

MongoDB will create the database if it does not exist, and make a connection to it.

In [3]:
import pymongo

In [4]:
# myclient is our MongoClient
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

# mydb will be our database object
mydb = myclient["mydatabase"]

**Important**: In MongoDB, a database is not created until it gets content!

MongoDB waits until you have created a collection (table), with at least one document (record) before it actually creates the database (and collection).

## Check if Database Exists

**Remember**: In MongoDB, a database is not created until it gets content, so if this is your first time creating a database, you should complete the next two chapters (create collection and create document) before you check if the database exists!

You can check if a database exist by listing all databases in you system:

In [5]:
# Return a list of your system's databases:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [6]:
# Or you can check a specific database by name
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

# Creating a Collection

A collection in MongoDB is the same as a table in SQL databases.

To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist.

In [7]:
# Create a collection called "customers"
mycol = mydb["customers"]

**Important**: In MongoDB, a collection is not created until it gets content!

MongoDB waits until you have inserted a document before it actually creates the collection.

## Check if Collection Exists

**Remember**: In MongoDB, a collection is not created until it gets content, so if this is your first time creating a collection, you should complete the next chapter (create document) before you check if the collection exists!

You can check if a collection exist in a database by listing all collections:

In [8]:
# Return a list of all collections in your database
print(mydb.list_collection_names())

[]

In [9]:
# Or you can check a specific collection by name
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

# Insert Document into Collection

## Insert one Document

A document in MongoDB is the same as a record in SQL databases.

To insert a record, or document as it is called in MongoDB, into a collection, we use the **insert_one()** method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [10]:
# Insert a record in the "customers" collection
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

In [13]:
# Check if database exists
print(myclient.list_database_names())

# Check if collection exists
print(mydb.list_collection_names())

['admin', 'config', 'local', 'mydatabase']
['customers']

## Return the _id Field


The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

In [14]:
# Insert another record in the "customers" collection, and return the value of the _id field:

mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

62891dbe5b1c75d339a3f5cd

If you do not specify an **_id** field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no **_id** field was specified, so MongoDB assigned a unique **_id** for the record (document).

## Insert Multiple Documents


To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [15]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

# The insert_many() method returns a InsertManyResult object, which 
# has a property, inserted_ids, that holds the ids of the inserted documents.
# print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('62891e935b1c75d339a3f5ce'), ObjectId('62891e935b1c75d339a3f5cf'), ObjectId('62891e935b1c75d339a3f5d0'), ObjectId('62891e935b1c75d339a3f5d1'), ObjectId('62891e935b1c75d339a3f5d2'), ObjectId('62891e935b1c75d339a3f5d3'), ObjectId('62891e935b1c75d339a3f5d4'), ObjectId('62891e935b1c75d339a3f5d5'), ObjectId('62891e935b1c75d339a3f5d6'), ObjectId('62891e935b1c75d339a3f5d7'), ObjectId('62891e935b1c75d339a3f5d8'), ObjectId('62891e935b1c75d339a3f5d9')]

## Insert Multiple Documents, with Specified IDs

If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same _id.

In [17]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

# print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Find

In MongoDB we use the **find** and **findOne** methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

## Find One

To select data from a collection in MongoDB, we can use the **find_one()** method.

The **find_one()** method returns the first occurrence in the selection.

In [18]:
# Find the first document in the customers collection:
x = mycol.find_one()
print(x)

{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John', 'address': 'Highway 37'}

## Find All

To select data from a table in MongoDB, we can also use the **find()** method.

The **find()** method returns all occurrences in the selection.

The first parameter of the **find()** method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the **find()** method gives you the same result as SELECT * in MySQL.

In [20]:
mycol.find()

In [21]:
# Return all documents in the "customers" collection, and print each document
for x in mycol.find():
  print(x)

{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62891dbe5b1c75d339a3f5cd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62891e935b1c75d339a3f5ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62891e935b1c75d339a3f5cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62891e935b1c75d339a3f5d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62891e935b1c75d339a3f5d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62891e935b1c75d339a3f5d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62891e935b1c75d339a3f5d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Return Only Some Fields

The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.

In [30]:
# Return only the names and addresses, not the _ids
for x in mycol.find({}, {"_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

You are not allowed to specify both 0 and 1 values in the same object (except if one of the fields is the _id field). If you specify a field with the value 0, all other fields get the value 1, and vice versa

Example:

You can do this:

In [26]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John'}
{'_id': ObjectId('62891dbe5b1c75d339a3f5cd'), 'name': 'Peter'}
{'_id': ObjectId('62891e935b1c75d339a3f5ce'), 'name': 'Amy'}
{'_id': ObjectId('62891e935b1c75d339a3f5cf'), 'name': 'Hannah'}
{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael'}
{'_id': ObjectId('62891e935b1c75d339a3f5d1'), 'name': 'Sandy'}
{'_id': ObjectId('62891e935b1c75d339a3f5d2'), 'name': 'Betty'}
{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard'}
{'_id': ObjectId('62891e935b1c75d339a3f5d4'), 'name': 'Susan'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky'}
{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben'}
{'_id': ObjectId('62891e935b1c75d339a3f5d7'), 'name': 'William'}
{'_id': ObjectId('62891e935b1c75d339a3f5d8'), 'name': 'Chuck'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

But doing this will generate error

In [28]:
try:
  for x in mycol.find({},{ "name": 1, "address": 0 }):
    print(x)
except Exception as e:
  print(e)

Cannot do exclusion on field address in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field address in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

# Query

## Filter the Result

When finding documents in a collection, you can filter the result by using a query object.

The first argument of the **find()** method is a query object, and is used to limit the search.

In [31]:
# Find document(s) with the address "Park Lane 38":

myquery = {"address": "Park Lane 38"}

mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

## Advanced Query

To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}

In [33]:
# Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Filter With Regular Expressions


You can also use regular expressions as a modifier.

Regular expressions can only be used to query strings.

To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

In [35]:
# Find documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Sort

## Sort the Result

Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [36]:
# Sort the result alphabetically by name:
mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('62891e935b1c75d339a3f5ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62891e935b1c75d339a3f5d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62891e935b1c75d339a3f5d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62891e935b1c75d339a3f5cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62891dbe5b1c75d339a3f5cd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62891e935b1c75d339a3f5d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62891e935b1c75d339a3f5d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

**Sort Descending**

Use the value -1 as the second parameter to sort descending.

sort("name", 1) #ascending

sort("name", -1) #descending

In [39]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('62891e935b1c75d339a3f5d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62891e935b1c75d339a3f5d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62891dbe5b1c75d339a3f5cd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62891e935b1c75d339a3f5cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62891e935b1c75d339a3f5d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62891e935b1c75d339a3f5d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62891e935b1c75d339a3f5ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

# Delete Document

## Delete One Document

To delete one document, we use the **delete_one()** method.

The first parameter of the **delete_one()** method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

In [40]:
# Delete the document with the address "Mountain 21"
myquery = {"address": "Mountain 21"}
mycol.delete_one(myquery)

In [42]:
# Note: only one document with address "Mountain 21" deleted.
# second document with address "Mountain 21" remained
# {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
for x in mycol.find():
  print(x)

{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62891dbe5b1c75d339a3f5cd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62891e935b1c75d339a3f5ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62891e935b1c75d339a3f5d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62891e935b1c75d339a3f5d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62891e935b1c75d339a3f5d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62891e935b1c75d339a3f5d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62891e935b1c75d339a3f5d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62891e935b1c75d339a3f5d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Delete Many Documents

To delete more than one document, use the **delete_many()** method.

The first parameter of the **delete_many()** method is a query object defining which documents to delete.

In [43]:
# Delete all documents were the address starts with the letter S:
myquery = { "address": {"$regex": "^S"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [44]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('62891c465b1c75d339a3f5cc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62891dbe5b1c75d339a3f5cd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62891e935b1c75d339a3f5ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62891e935b1c75d339a3f5d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62891e935b1c75d339a3f5d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62891e935b1c75d339a3f5d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62891e935b1c75d339a3f5d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62891e935b1c75d339a3f5d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62891e935b1c75d339a3f5d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62891e935b1c75d339a3f5d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

## Delete All Documents in a Collection

To delete all documents in a collection, pass an empty query object to the delete_many() method

In [45]:
# Delete all documents in the "customers" collection:
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

23  documents deleted.

In [46]:
for x in mycol.find():
  print(x)

# Drop Collection

**Delete Collection**

You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [47]:
mycol.drop()

In [52]:
# Return a list of all collections in your database
print(mydb.list_collection_names())

[]

# Update

## Update One

You can update a record, or document as it is called in MongoDB, by using the **update_one**() method.

The first parameter of the **update_one**() method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

In [54]:
# First create collection then insert and update

mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
print(mydb.list_collection_names())

['customers']

In [55]:
for x in mycol.find():
  print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [56]:
# {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Update Many

To update all documents that meets the criteria of the query, use the **update_many**() method.

In [58]:
# Update all documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [62]:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}

# Limit

Limit the result in MongoDB, we use the **limit**() method.

The **limit**() method takes one parameter, a number defining how many documents to return.

Consider you have a "customers" collection:

In [63]:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}

In [64]:
# Limit the result to only return 5 documents:
myresult = mycol.find().limit(5)
for x in myresult:
  print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}